<!--When this contains a real connection string make sure not to check into source control. Add to .gitignore-->
<connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS;Database=brewday;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>
